.edit-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-product-container h1 {
    color: #14213d;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.form-container {
    /*max-width: 400px;*/
    width: 33%;
    margin: 0 auto;
    padding: 20px;
    background-color: #14213d;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.form-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #2d2d2d;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.form-button {
    margin-left: 0.67rem;
}

.form-button:hover {
    background-color: #fff;
    color: #14213d;
}

.actions {
    border-radius: 8px;
    display: flex;
    justify-content: flex-end;
}
